@model ItemsViewModel

<h1>List of Shop Items (@Model.CurrentViewName View)</h1>
<a href="/Item/Grid">Grid View</a>

<partial name="_ItemTable" model="Model.Items" />

@*Dette angir hvilken type data som visningen forventer å motta
@model spesifiserer at denne visningen vil bruke en modell av typen
IEnumberable...., som er en samling(liste) av 'Item' objekter fra MyShop.Models
Dette betyr at kontrolleren som ruter til denne visnignen sender en liste over 'Item' 
objekter til visningen
@model IEnumerable<MyShop.Models.Item>

<h1>List of Shop Items (@ViewBag.CurrentViewName View)</h1>
<a href="/Item/Grid">Grid View</a>

<div class="container">
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
        <!--Dette er en foreach loop i Razor som itterer gjennom enhver Item
        i Model. Model er en dynamisk objekt som blir sendt til viewet fra controlleren.
        Inneholder en kolleksjon av data (liste med Items)-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("0.00 NOK")</td>
                <td>@item.Description</td>
                <td></td>
            </tr>
        }
    </table>
</div>*@